.app-header {
    .header-content {
        display: flex;
        justify-content: space-between;
        // padding: 0 20px;
        .logo {
            cursor: pointer;
        }
        .app-nav {
            align-items: center;
            a {
                padding: 20px;
                &:hover {
                    text-decoration: none;
                    .dark & {
                        background-color: $clr1;
                        color: $clr5;
                    }
                    .lite & {
                        background-color: $clr5;
                        color: $clr1;
                    }
                }
                &.active {
                    .dark & {
                        box-shadow: inset 0 -5px 0 $white;
                    }
                    .lite & {
                        box-shadow: inset 0 -5px 0 $black;
                    }
                }
            }
        }
    }
}
