.dark-screen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    margin: auto;
    top: 0;
    left: 0;
}
.modal {
    @include preview($white, $clr5, #c7c7c7, rem(25px));
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 7px $black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .txt {
        // padding: 0.5em 1em;
    }
    input {
        padding: 0.5em 1em;
    }
    .action-container {
        display: flex;
        justify-content: space-between;
        .action-btn {
            background-color: $blue;
            color: $white;
        }
    }
}
