// Colors
// $clr1: #e01e5a;
// $clr2: #293241;
// $clr3: #5c3fc5;
// $clr4: #696969;
// $clr5: #e6e9ec;
// $clr6: #f5f5f5;

$white: #fff;
$clr1: #f5f5f5;
$clr2: #ebebeb;
$clr3: #bab8b5;
$clr4: #686767;
$clr5: #2c2c2f;
$black: #09080d;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
